* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
}

.container {
  width: 100%;
  max-width: 100%; /* Parce chrome ?! */
  padding-left: 80px;
  padding-right: 16px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* barre de recherhce */
label {
  display: block;
}

input,
label {
  padding-block: 10px;
  margin-left: 0.4rem 23px;
  border-radius: 40px 0 0 40px;
  border-right: none;
  border: 1px solid;
  padding-inline: 20px;
  border-color: rgb(149, 145, 145);
}

.searchButton {
  margin-left: 0;
  border: 1px solid;
  border-radius: 0 40px 40px 0;
  background-color: white;
  border-color: rgb(149, 145, 145);
}

.searchIcon {
  width: 5px;
}

.filter {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 13px;
  border-color: none;
  border: none;
}

button:hover {
  background-color: rgb(44, 43, 43);
  color: white;
}
#card-container {
  width: 100%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.card > a > img {
  width: 100%;
}

img {
  border-radius: 15px;
  width: 300px;
}

.cardDetails {
  margin-top: 15px;
  display: flex;
}

.infosVideo {
  margin-left: 12px;
}
.logo {
  width: 25px;
  border-radius: 100px;
}

a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.titleVideo {
  margin-bottom: 5px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  white-space: normal;
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-size: 14px;
  color: rgb(121 114 114);
}

.viewsNbr,
.releaseDate,
.point {
  color: rgb(121 114 114);
  font-size: 12px;
  font-weight: 500;
}
